/**
 * Common css rules for this whole site.
 */

* {
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
    background: #eceff1;
    color: #131313;
}

a {
    color: #fd74b9;
}

a:link {
    color: #fd1313;
}

a:visited {
    color: #13fe13;
}

a:hover {
    color: #fd74b9;
}

a:active {
    color: #1313fe;
}

.centerscreen {
    margin: auto;
    width: 86%;
    padding: 12px;
}